:root{
	--cor-pistao: lightgray;
	--cor-aneis: black;
	--cor-virabrequim: gray;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.anel{
	width: 100%;
	background-color: var(--cor-aneis);
	height: 5px;
}		
.pistao{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 165px;
	bottom: 100px;
}
.cabeca{
	width: 80px;
	height: 60px;
	background-color: var(--cor-pistao);
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding-bottom: 10px;
	gap: 5px;
}
.biela{
	width: 30px;
	background-color: var(--cor-pistao);
	filter: brightness(95%);
}
.bronzina{
	height: 30px;
	background-color: var(--cor-pistao);
}
.container-motor{
	position: relative;
	width: 500px;
	height: 600px;
}
.centro-virabrequim{
	width: 20px;
	height: 30px;
	background-color: var(--cor-virabrequim);
	position: absolute;
	left: 0px;
	bottom: 100px;
}
.espaco{
	height: 30px;
	background-color: var(--cor-virabrequim);
	position: absolute;
	bottom: 100px;
}
.manivela{
	width: 20px;
	background-color: var(--cor-virabrequim);
	position: absolute;
}
.painel-controle{
	width: 600px;
	height: fit-content;
	display: flex;
	gap: 50px;
	flex-direction: column;
	align-items: start;
	background-color: blue;
	padding: 50px 20px;
	border-radius: 15px;
	border: 2px solid black;
}
input[type='range']{
	width: 200px;
}
input[type="number"]{
	width: 50px;
	border-radius: 6px;
	border: 1px solid black;
	background-color: white;
	padding: 5px 20px;
}
h3{
	color: white;
	font-size: 16px;
	font-weight: 500;
}
.container-inputs-pistoes{
	display: flex;
	flex-direction: column;
}
.grupo-selecao{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.body-principal{
	background-color: lightblue;
	color: white;
	gap: 50px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}